@import url('https://fonts.googleapis.com/css?family=Sen');

body {
    font-family: 'Sen';
    background-color: #2C2F33;
}

.container {
    color: #FFF;
    padding-top: 30px;
}

.navbar {
    color: #FFF;
    background-color: #7289DA;
    box-sizing: border-box;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    text-decoration: none;
    padding: 20px;
    font-weight: 550;
    display: inline-block;
    vertical-align: middle;
}

.navbar a {
    color: #FFF;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar img {
    max-height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.bio {
    font-size: 15px;
    max-width: 70%;
}

.footer {
    color: #FFF;
    background-color: #23272A;
    box-sizing: border-box;
    width: 100%;
}

.footer ul {
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer li {
    text-decoration: none;
    font-weight: 300;
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer a {
    color: #FFF;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}